[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
factory-boy = "*"
python-dotenv = "*"
psycopg2 = "*"
gunicorn = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
whitenoise = "*"
dj-database-url = "*"
mdgen = "*"
martor = "*"
pillow = "*"
django-colorfield = "*"
drf-extra-fields = "*"

[dev-packages]
coverage = "*"
freezegun = "*"

[requires]
python_version = "3.10"
